<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageMapper">

	
	<resultMap id="rewardResultMap" type="memberReward">
		<result column="RNUM" property="rownum" />
		<result column="REWARD_DATE" property="rewardDate" />
		<result column="REWARD_REASON" property="rewardReason" />
		<result column="REWARD_SCORE" property="rewardScore" />
		<result column="REMAIN_REWARD_SCORE" property="remainRewardScore" />
	</resultMap>

	<select id="selectMemberCouponList" parameterType="hashmap" resultType="memberCoupon">
		SELECT 
			    COUPON_NAME couponName
			   ,FLOOR(COUPON_ENDDATE - SYSDATE) AS couponExpire
			   ,COUPON_RATIO couponRatio
		  FROM 
		  	   TB_COUPON C
		  JOIN 
		  	   TB_MEMBER_COUPON MC 
		 USING 
		 	   (COUPON_NO)
		 WHERE 
		 	   MEM_NO = #{ memberNo }
		   AND 
		   	   COUPON_AVAIL = 'Y'
		   AND 
		   	   MEMBER_COUPON_STATUS = 'N'
		   AND 
		   	   COUPON_ENDDATE >= SYSDATE
		 ORDER 
		 	BY 
		<choose>
			<when test="selected eq 'saleSort'">
			    COUPON_RATIO DESC
			</when>
			<when test="selected eq 'limitSort'">
				COUPON_ENDDATE ASC
			</when>
			<otherwise>
				MEMBER_COUPON_DATE DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="selectListCount" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
			   TB_REWARD
		 WHERE 
		 	   MEM_NO = #{ memberNo }
	</select>
	
	<select id="selectMemberRewardList" parameterType="hashmap" resultMap="rewardResultMap" >
  	   SELECT 
			   ROWNUM RNUM, A.* 
		  FROM
			   (SELECT REWARD_DATE, 
			   		   REWARD_REASON, 
			   		   REWARD_SCORE, 
			   		   (SUM(REWARD_SCORE) OVER(PARTITION BY MEM_NO
		                                 ORDER BY REWARD_NO 
		                                  ROWS BETWEEN UNBOUNDED PRECEDING 
		                                   AND CURRENT ROW)) AS "REMAIN_REWARD_SCORE"
				  FROM 
				  	   TB_REWARD
				 WHERE 
				 	   MEM_NO = #{ memberNo }
				   AND 
				   	   REWARD_SCORE != 0
				 ORDER 
				 	BY 
		 	   		   REWARD_DATE DESC) A
	</select>






</mapper>


